@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary Bold";
  src: local("Poppins-Bold"),
    url("./assets/font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "primary Regular";
  src: local("Poppins-Bold"),
    url("./assets/font/Poppins-Regular.ttf") format("truetype");
}

html {
  font-size: 70%;
}

@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
